@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Nemezida.Web.Models.DisplayImage>
@{
    ViewData["Title"] = "Общая статистика";
}


<div class="row" >
    <div class="col">&nbsp;</div>
    <div class="col-9" style="        margin: 0 auto;
        overflow: hidden;
        border-radius: 1.2em;
        background-color: #EAEBEC;
        height: 420px; text-align:center; vertical-align:middle">
        <p>Статистика</p>
    </div>
    <div class="col">&nbsp;</div>
</div>
<div class="row h-100" style="text-align:center; padding-top:1em;">
    <div class="col">&nbsp;</div>
    <div class="col-9"><button type="button" class="btn btn-dark btn-lg">Загрузить файлы</button></div>
    <div class="col">&nbsp;</div>
</div>


