@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Тест апи";
}

<div class="text-center">
    <form action="/api/uav/MARK_IMG" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" />
    </form>
</div>
