<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nemezida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm mb-3" style="background-color:black">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="OilIcidents">Инциденты разлива нефти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="GroundOpeningIncidents">Инциденты Вскрытия грунта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="MaterialWarehousingIncidents">Инциденты Складирования материалов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="SpecialEquipmentWork">Работа спец. техники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="RawFiles">Необработанные файлы</a>
                </li>
            </ul>
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>
    <i class="fi-xwlux3-home-wide" style="padding-left:3em"></i>
    <div class="container" style="margin-top:-3em">
        @RenderBody()
    </div>
    <i class="fi-xwlux4-setting-wide settings-button" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
